<!DOCTYPE html>
<html>
<head></head>
<body>
  <form action="/SaveGoal" method="POST">
    Desc:<br/>
    <input type="text" name="desc">
    <br>
    Start:<br/>
    <input type="text" name="start_date" value="">
    <br>
    Weeks:<br/>
    <input type="text" name="weeks" value="">
    <br>
    Referee:<br/>
    <input type="text" name="ref_name" value="">
    <br>
    If I lose:<br/>
    <input type="text" name="lose_commit" value="">
    <br>
    <input type="submit" name ="create_goal" value="Save goal">
  </form >
</body>
</html>
